

.top{
    background: url(../img/topbg.png) no-repeat;
    height: 866px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
}

.top-menu{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.logo img{
    
    margin-left: 89px;
    margin-top: 56px;
}

.tab{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Hind' ;
    list-style-type: none;
    font-size: 24px;
    margin-top: -88px;
    margin-left: 499px;
    
    
    
}

.tab li{
    display: inline;
}

.btn{
    text-decoration: none;
    color: #ffffff;
    margin-right: 36px; 
    
}

.btn2{
    margin-right: 0px;
    text-decoration: none;
    color: #ffffff;
}


.sliderD {
        width: 739px;
        height: 329px;
        position: relative;
        text-align: center;
        margin: 28px auto 20px auto;
        z-index: 0;
    }

    .sliderD > input {
        display: none;
    }

    .sliderD > input + label,
    .sliderD > input + label + label {
        display: block;
        width: 50px;
        height: 50px;

        visibility: hidden;
        
        

        cursor: pointer;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }

    .sliderD > input + label {
        right: 105%;
        background: url(../img/sprite.png) top left no-repeat;
        height: 50px;
        width: 50px;
        background-position: -1px -62px;
        
        margin-right: 109px;
        margin-top: -59px;
        
    }

    .sliderD > input + label + label {
        left: 105%;
        background: url(../img/sprite.png) top left no-repeat;
        height: 50px;
        width: 50px;        
        background-position: -51px -62px;
        
        margin-left: 109px;
        margin-top: -59px;
    }

    .sliderD > input:checked + label,
    .sliderD > input:checked + label + label {
        visibility: visible;
        
        
    }

    .sliderD > div {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 0;
        width: 1000%;
        text-align: left;
        transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
    }

    .sliderD > input:nth-of-type(2):checked ~ div { left: -100%; }
    .sliderD > input:nth-of-type(3):checked ~ div { left: -200%; }
    .sliderD > input:nth-of-type(4):checked ~ div { left: -300%; }
    .sliderD > input:nth-of-type(5):checked ~ div { left: -400%; }
    .sliderD > input:nth-of-type(6):checked ~ div { left: -500%; }
    .sliderD > input:nth-of-type(7):checked ~ div { left: -600%; }
    .sliderD > input:nth-of-type(8):checked ~ div { left: -700%; }
    .sliderD > input:nth-of-type(9):checked ~ div { left: -800%; }
    .sliderD > input:nth-of-type(10):checked ~ div { left: -900%; }

    .sliderD > div > div {
        display: inline-block;
        position: relative;
        opacity: 0;
        visibility: hidden;
        
    }

    .sliderD > input:nth-of-type(1):checked ~ div > div:nth-of-type(1),
    .sliderD > input:nth-of-type(2):checked ~ div > div:nth-of-type(2),
    .sliderD > input:nth-of-type(3):checked ~ div > div:nth-of-type(3),
    .sliderD > input:nth-of-type(4):checked ~ div > div:nth-of-type(4),
    .sliderD > input:nth-of-type(5):checked ~ div > div:nth-of-type(5),
    .sliderD > input:nth-of-type(6):checked ~ div > div:nth-of-type(6),
    .sliderD > input:nth-of-type(7):checked ~ div > div:nth-of-type(7),
    .sliderD > input:nth-of-type(8):checked ~ div > div:nth-of-type(8),
    .sliderD > input:nth-of-type(8):checked ~ div > div:nth-of-type(9),
    .sliderD > input:nth-of-type(10):checked ~ div > div:nth-of-type(10) {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }

    .sliderD > div + div {
        position: absolute;
        width: auto;
        height: auto;
        top: 0px;
        left: 0px !important;
        right: 0px;
        bottom: 0px;
        z-index: 40;
    }

    .sliderD > div + div > div {
        position: absolute;
        width: auto;
        height: auto;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease-out 0.0s, visibility 0.1s ease-out 1s;
    }

    .sliderD > input:nth-of-type(1):checked ~ div + div > div:nth-of-type(1),
    .sliderD > input:nth-of-type(2):checked ~ div + div > div:nth-of-type(2),
    .sliderD > input:nth-of-type(3):checked ~ div + div > div:nth-of-type(3),
    .sliderD > input:nth-of-type(4):checked ~ div + div > div:nth-of-type(4),
    .sliderD > input:nth-of-type(5):checked ~ div + div > div:nth-of-type(5),
    .sliderD > input:nth-of-type(6):checked ~ div + div > div:nth-of-type(6),
    .sliderD > input:nth-of-type(7):checked ~ div + div > div:nth-of-type(7),
    .sliderD > input:nth-of-type(8):checked ~ div + div > div:nth-of-type(8),
    .sliderD > input:nth-of-type(8):checked ~ div + div > div:nth-of-type(9),
    .sliderD > input:nth-of-type(10):checked ~ div + div > div:nth-of-type(10) {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s ease-out 0.9s, visibility 0.1s ease-out 0s;
    }


    .sliderD > div + div > div > p {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
    }
    
    .mainslide{
        margin-top: -695px;
        min-width: 1280px;
    }
    
    .oneslide{
        height: 329px;
        width: 739px;  
    }
    
  
    
    .oneslide h1{
        color:#ffffff;
        margin-top: -295px;
        font-family: 'Hind' ;
        font-size: 64px;
        margin-left: 400px;
        margin-bottom: 0px;
        
        
    }
    
    .oneslide h3{
        color:#ffffff;
        font-family: 'Hind' ;
        margin-left: 400px;
        font-size: 45px;
        font-weight: 100;
        margin-top: -29px;
        
        
    }
    
    span.icon a:link,
    span.icon a:visited{
        display:block;
        text-indent:-9999px;
        
    }
    
    span.icon a:link,
    span.icon a:visited{
        width: 146px;
        height: 46px;
        background: url(../img/sprite.png) top left no-repeat;
        background-position: -1px -112px;
        margin-left: 400px;
        margin-top: -36px;   
    }
    
    .mid{
        background-color: white;
        width: 1280px;
        height: 1735px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -60px;
    }
    
   

    
    